<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
<system.data>
    <DbProviderFactories>
        <add name="RuntimeDataSourceProvider" invariant="RuntimeDataSourceProvider" description="DataDriven Unit Testing RuntimeDataSourceProvider"
            type="RuntimeDataSourceProvider.RuntimeDataSourceProviderFactory, ConsoleApplication1"/>
     
    </DbProviderFactories>
  </system.data></configuration>